<h1>Activity 1 (2-6)</h1>
<p><b>2.</b> body => content : 418.400 x 6724.400,margin : 0,padding : 0<br>
         header => content : 418.400 x 160.400,margin-top : 20px,margin-bottom : 20px
              a => content : auto<br>
                    h1 => content : 418.400 x 131.200,margin-top : 20px,margin-bottom:10px<br>
              div class="text-center" => content : 418.400 x 19.200<br>
                    h4 => content : 418.400 x 19.200,margin-top : 10px,margin-bottom : 10px<br>
         teaser => content : 412.400 x 370,padding-top : 20px,padding-bottom : 20px,
                         padding-left : 3px,padding-right : 3px<br>
             div id="convnetvis" => content : 412.400 x 356.800<br>
             span class="glyphicon glyphicon-question-sign" id="convask"=> content : 25 x 24.800 <br>
                     div id="demomsg" => content : 418.400 x 669.600<br>
        container => content : 669.600 x 0,padding-right : 15px,padding-left : 15px,margin-right : 15px,margin-    
                             left : 15px<br>
              div id="explain" => content : auto,border-radious : 10px,margin : 10px,padding : 10px<br>
        sechighlight => content : 418.400 x 669.600<br>
              container sec => content : 388.400 x 639.600,padding-left : 15px,padding-right : 15px,<br>
               margin-bottom : 10px,margin left : auto,margin-right : auto,padding-top:10px padding bottom :20px<br>
              div id="coursedesc" => content : 388.400 x 582.400<br>
        container sec => content : 388.400 x 2500,padding-left : 15px,padding-right : 15px,margin-right : 
                                    auto,margin left : auto,padding-top:10px padding bottom :20px<br>
        sechighlight => content : 418.400 x 169.600<br>
        container sec => content : 388.400 x 395.600,padding-left : 15px,padding-right : 15px,margin-right : 
                                    auto,margin left : auto,padding-top:10px padding bottom :20px<br>
        container sec => content : 388.400 x 306,padding-left : 15px,padding-right : 15px,margin-right : 
                                    auto,margin left : auto,padding-top:10px padding bottom :20px<br>
       sechighlight => content : 418.400 x 634.800<br>
       container sec => content : 388.400 x 1028.400,padding-left : 15px,padding-right : 15px,margin-right : 
                                    auto,margin left : auto,padding-top:10px padding bottom :20px<br>
       sechighlight => content : 418.400 x 250<br><br><br>
       3.First I find the position where I want to add the image to this page.<br>
Secend  I write this code in the position between of div class="col-md-2" and div class="col-md-10"<br>
    My code : &ltz&gt&ltimg src="https://www.mssociety.org.uk/sites/default/files/branches/bristol-branch/coffee_morning.jpg" width="260px" height="246px">&lt/z&gt
    <z><img src="https://www.img.in.th/images/b163cf92a69ae7cd30192327d4c76792.jpg" ></z><br><br><br>
    4.layer class changing all the time.We view page sorce and analyze every script tag.<br>
       &ltzscript src="convnet_demo/convnet_demo.js"&gt&ltz/script&gt<br><br><br>
    5.All the images come from CIFAR-10 dataset.We see the comment in the JavaScipt file.<br><br><br>
    6.add new style code below the "teaser"
    &ltstyle&gt.pp{background-color : blue;}&ltz/style&gt.
    <z><img src="https://www.img.in.th/images/12a75c3105a13aa74be0cc279b9715a7.jpg" ></z><br><br><br>
</p>
